# Node.js
node_modules/

# Gatsby
.cache/
public/
src/gatsby-types.d.ts

# Visual Studio Code
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# exiftool
*_original

# OS-related
._*
.DS_Store
.Spotlight-V100
.Trashes
desktop.ini
Thumbs.db
